<p>Amidst the storm of feelings and thoughts.
Of  trials enduring win and loss.
Of doom and despair as never ending boss.
Of the nerve chilling emotional frost.

The traveler discovered an angel within.
A soul pure, celestial and benign.
As dark and foreboding as limitless pits.
As vast and considerate as forest cliffs.

As beautiful and alluring as an early summer’s day.
As enchanting and dodging as the deer play. 
As serene and tranquil as a forest lake.
As simple yet exciting, as tiny snow flake. 

The traveler sat jinxed, entranced in her sight.
Feeling minute in the strength of her might.
Envious of the entirety of the angel’s fate.
Longing to bathe in the angel’s divine light.

But alas a union of angel and man.
Tabooed as a deceiver's sham.
As impossible as stepping on the sea.
As fictitious as a dragon might be.</p>